<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="MXRoute Mailer Tests">
            <file>./tests/test-class-crypto.php</file>
            <file>./tests/test-class-mxroute-api.php</file>
            <file>./tests/test-class-logger.php</file>
            <file>./tests/test-class-settings.php</file>
            <file>./tests/test-class-updater.php</file>
            <file>./tests/test-class-dashboard.php</file>
            <file>./tests/test-class-queue.php</file>
            <file>./tests/test-mxroute-mailer.php</file>
            <file>./tests/test-edge-cases.php</file>
            <file>./tests/test-coverage-gaps.php</file>
        </testsuite>
    </testsuites>
</phpunit>
